<!DOCTYPE html>

<head>
    <meta charset="utf-8" />
    <title>AngularJS</title>
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
    <script src="upload.js"></script>
    <link rel="stylesheet" type="text/css" href="./assets/style.css">
    <link rel="stylesheet" type="text/css" href="./assets/bootstrap.min.css">

</head>

<body>
    <div class="container" ng-app="ngApp" ng-controller="uploadController" style="padding-top:20px">
        <form>
            <div class="form-group">
                <input type="file" ng-model="ngUpload" id='ngUpload' ng-file-select="onFileSelect($files)" />
        </form>
        <!-- <textarea rows="20" cols="100" ng-model="textSrc" disabled></textarea> -->
        <div class="form-group" style="padding-top:20px">
            <!-- <label for="exampleFormControlTextarea2">Small textarea</label> -->
            <textarea class="form-control rounded-0" ng-model="textSrc" disabled rows="10"></textarea>
        </div>
        <div style="text-align:right">
            <button ng-if="textSrc" class="btn btn-sm btn-warning" ng-click="onClickClearHandler()">Clear</button>
            <button ng-disabled="!textSrc" class="btn btn-sm btn-success" ng-click="onClickHandler()">Save</button>
        </div>
    </div>
</body>

</html>